* {
    margin: 0%;
    padding: 0%;


}


body{
    height: 100vh;
    background: url("img/imagem.png")no-repeat right;
    background-size:50%;
    background-color:rgb(5, 5, 5);
    color: white;
    font-family:'Oswald';  
}

.rosto {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

h1{
    font-size: 30px;
    font-weight: 150px;
}

.texto-inicial{
    margin:10%;   
}

span{
    color: aqua;
}

destaque{
    color: black;
    font-weight: 10px;
}

.btn{
    border: 3px;
    border-style: solid;
    border-color: aqua;
    border-radius:55%;
    margin: 5px;
    background-color:rgb(156, 201, 209) ;
    color: rgb(13, 15, 15);
    padding: 5px;
}

.mgn{
    margin-top:10%;
}